
<div class="container">
    <div class="row gy-md-5 gy-4 mb-md-5 mb-4 pb-lg-2">

    <div class="fs-sm text-muted">© tout droit réserver <a href="#" target="_blank" rel="noopener" class="text-dark text-decoration-none opacity-90">Nom du site</a></div>
    <div class="pt-4 pt-lg-0"></div>
</div>
